
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <span *ngIf="currentRecipe._id !== ''; else elseBlock">
                    {{currentRecipe.name | titlecase }}
                </span>
                <ng-template #elseBlock>
                    Select Recipe
                </ng-template>
            </mat-card-title>
        </mat-card-header>
        <form #form="ngForm" (submit)="save.emit(currentRecipe)">
            <mat-card-content>
            
            <mat-form-field class="full-width"> 
                <input matInput placeholder="Name" [(ngModel)]="currentRecipe.name" name="name" required type="text"/>   
            </mat-form-field>

            <mat-form-field class="full-width"> 
                <textarea matInput placeholder="Description..." [(ngModel)]="currentRecipe.description" name="description" type="text">   
                </textarea>
            </mat-form-field>

            <mat-list>
                    <mat-list-item *ngFor="let ingredient of currentRecipe.ingredients">
                        <mat-form-field> 
                            <mat-label>{{ingredient.name }}</mat-label>
                            <input matInput placeholder="0" [(ngModel)]="ingredient.quantity" name="quantity" type="number"/>   
                        </mat-form-field>
                    </mat-list-item>
            </mat-list>

            </mat-card-content>
            <mat-card-actions>
            <button type="submit" mat-button [disabled]="form.invalid" color="primary">Save</button>
    
            </mat-card-actions>
        </form>
        <hr>
    </mat-card>