<div class="recipes-containers">
 
<div class="recipes-list">
    <app-recipes-list 
    [recipes]="recipes"
    (edited)="editRecipe($event)"
    (selected)="selectRecipe($event)"
    (new)="newRecipe()"
    (deleted)="deleteRecipe($event)"
    >
    </app-recipes-list>
</div>
<div class="recipes-details">
    <app-recipes-details
    [recipe] = "selectedRecipe"
    [setRecipeDetailsState] = "recipeDetailsState"
    (save)="saveRecipe($event)"
    (create)="createRecipe($event)"
    ></app-recipes-details>
</div>

</div>
